<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"></meta>
    <title>wyait 管理</title>
    <meta name="renderer" content="webkit"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
    <link rel="stylesheet" href="../layui/css/layui.css"  media="all"></link>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<blockquote class="layui-elem-quote">
    你也可以单独打开后台布局的例子：
    <a class="layui-btn layui-btn-normal" href="/home.html" target="_blank">单独打开</a>
</blockquote>

<iframe src="/home.html" id="demoAdmin" style="width: 100%; height: 800px;" frameborder="0"></iframe>


<script src="../layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
</script>

</body>
</html>