<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer">
    <!-- 修改密码 -->
    <div id="useDetail" class="layer_self_wrap" style="width:450px;display:none;">

        <form id="useDetailForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
                <div class="layui-form-item">
                    <label class="layui-form-label">手机号</label>
                    <div class="layui-input-inline">
                        <input id="telephone" name="telephone" lay-verify="required" autocomplete="off" class="layui-input" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')"
                               onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">验证码</label>
                        <div class="layui-input-inline" style="width: 100px;">
                            <input id="picCode" name="picCode" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                        </div>
                        <div class="layui-input-inline" style="width: 120px;">
                            <canvas id="canvas" width="120" height="38"></canvas>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">手机验证码</label>
                        <div class="layui-input-inline" style="width: 100px;">
                            <input id="mobileCode" name="mobileCode" autocomplete="off" class="layui-input" type="text"/>
                        </div>
                        <div class="layui-input-inline" style="width: 120px;">
                            <button id="getMsgBtn" class="layui-btn" lay-submit="" style="width: 120px;"  lay-filter="getMsg">获取验证码</button>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" type="reset">重置</button>
                        <button id="updatePwdBtn" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="updatePwd">确定</button>
                    </div>
                </div>
        </form>
    </div>

    <div id="pwdDiv" class="layer_self_wrap" style="width:450px;display:none;">

        <form id="setPwdForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-inline">
                    <input id="pwd" name="pwd" lay-verify="required" autocomplete="off" class="layui-input" type="password"/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">确认新密码</label>
                <div class="layui-input-inline">
                    <input id="isPwd" name="isPwd" lay-verify="required" autocomplete="off" class="layui-input" type="password"/>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" type="reset">重置</button>
                    <button id="pwdBtn" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="setPwd">确定</button>
                </div>
            </div>
        </form>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        <a href="http://blog.51cto.com/wyait" style="margin-left: 5%;"><font style="font-weight: bold;font-size:16px;color:#009688;">http://blog.51cto.com/wyait</font></a><span style="margin-left: 70%;font-weight: bold;font-size:16px;"><a href="/home">后台管理系统</a></span>
    </div>
    <script type="text/javascript" src="/js/updateUser.js"></script>
    <script type="text/javascript" src="/js/validate.js"></script>
</footer>
</body>
</html>