<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="roleList">

        <table class="layui-table">
            <thead>
            <tr>
                <th>角色编号</th>
                <th>角色名称</th>
                <th>角色描述</th>
                <th>添加时间</th>
                <th width="88px;">操作</th>
            </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>

<script src="/js/auth/roleList.js"></script>

</header>
</body>
</html>