<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:fragment="htmlhead">
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="renderer" content="webkit" />
    <meta name="description" content=""></meta>
    <meta name="author" content="wyait"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
    <link rel="icon" href="/images/logo.png" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />
    <link rel="Bookmark" th:href="@{/images/logo.png}" type="image/x-icon" />
    <title>后台管理系统</title>
    <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery.serializejson.min.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css"></link>
	<script src="/layui/layui.js"></script>
	<script src="/js/checkParam.js"></script>
	<script src="/js/common.js"></script>
</head>
</html>
